<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Brillant.otf</string>
		<string>MOSCOW2024.otf</string>
		<string>ForestSmooth.ttf</string>
		<string>TDAText.ttf</string>
		<string>Hussar3dTwo.otf</string>
		<string>Minstrels.ttf</string>
		<string>Letterblocks.ttf</string>
		<string>BungeeShade-Regular.ttf</string>
		<string>cellblocknbp.otf</string>
		<string>CaptainLethargic.ttf</string>
		<string>catstack.ttf</string>
		<string>Chokokutai-Regular.ttf</string>
		<string>Vertiger.otf</string>
		<string>ElfarNormalG98.ttf</string>
		<string>Brunothg.otf</string>
		<string>pershotravneva55-regular.ttf</string>
		<string>Daneehand Regular Cyr.ttf</string>
		<string>NovaCut.ttf</string>
		<string>UnifrakturCook-Bold.ttf</string>
		<string>Tsarevich old.ttf</string>
	</array>
</dict>
</plist>
